.home-page {
  .popular {
    display: block;
    max-width: 469px;
    width: 100%;

    &__top {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__songs {
      padding: 2px 0;
      max-height: 449px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-thumb {
        background: linear-gradient($colorAccent, $colorAccentHover);
        border-radius: 20px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 20px;
      }
    }

    .song {
      position: relative;
      width: calc(100% - 48px);
      margin-left: 34px;
      padding-right: 20px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:hover {
        box-shadow: $dropShadow;
      }

      &::before {
        content: '';
        position: absolute;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        left: -21px;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }

      @for $i from 1 through 17 {
        &:nth-child(#{$i}) {
          &::before {
            content: '#{$i}';
          }
        }
      }

      &__image {
        aspect-ratio: 1/1;
        width: 55px;

        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
      }

      &__info {
        max-width: 310px;
      }
    }
  }
}

[data-theme='dark'] {
  .home-page {
    .popular {
      &__songs {
        &::-webkit-scrollbar-track {
          background: linear-gradient(#3F3F3F, #2B2B2B);
        }
      }
    }

    .song {
      &::before {
        color: $main-text-black;
      }

      &__name {
        color: $main-text-black;
      }

      &__time {
        color: $main-text-black;
      }
    }
  }
}

[data-theme='light'] {
  .home-page {
    .popular {
      &__songs {
        &::-webkit-scrollbar-track {
          background: linear-gradient(#FFF6F9, #F9F9F9);
        }
      }
    }

    .song {
      &::before {
        color: $main-text-white;
      }

      &__name {
        color: $main-text-white;
      }

      &__time {
        color: $main-text-white;
      }
    }
  }
}

@media (max-width: 1440px) {
  .home-page {
    .popular {
      max-width: calc(359px + 111 * ((100vw - 1301px) / (1440 - 1301)));
    }
  }
}

@media (max-width: 1360px) {
  .home-page {
    .popular {
      max-width: calc(384px + 211 * ((100vw - 1071px) / (1360 - 1071)));
    }
  }
}

@media (max-width: 1070px) {
  .home-page {
    .popular {
      max-width: none;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .home-page {
    .popular {
      &__songs {
        overflow-y: visible;
      }

      .song {
        width: calc(100% - 20px);
      }
    }
  }
}