.home-page {
  .releases {
    //margin-left: -29px;
    margin-bottom: 60px;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    &__arrows {
      margin-right: 30px;
    }

    &__arrow {
      width: 15px;
      height: 15px;
      border: none;
      background: transparent;

      cursor: pointer;

      svg {
        cursor: pointer;

        path {
          stroke: $colorAccent;
        }
      }

      &.slick-disabled {
        pointer-events: none;

        path {
          stroke: #9E9E9E;
        }
      }
    }

    &__prev {
      transform: rotate(180deg);
      margin-right: 16px;
    }

    &__look-more {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      border-radius: 5px;
      margin-top: 2px;
      width: 197px;
      height: 193px;

      box-shadow: $dropShadow;

      &_link {
        text-decoration: none;
      }

      span {
        font-size: 16px;
        font-weight: 400;
        color: $colorAccent;
        margin-bottom: 5px;
        text-decoration: none;
      }
    }
  }
}


[data-theme='dark'] {
  .home-page {
    .releases {
      &__look-more {
        background: #1F1F1F;
      }
    }
  }
}

[data-theme='light'] {
  .home-page {
    .releases {
      &__look-more {
        background: #FAFAFA;
      }
    }
  }
}

@media (max-width: 1440px) {
  .home-page {
    .releases {
      &__look-more {
        width: calc(160px + 37 * ((100vw - 1110px) / (1440 - 1110)));
        height: calc(156px + 37 * ((100vw - 1110px) / (1440 - 1110)));
      }
    }

    .release {
      &__image {
        width: calc(160px + 37 * ((100vw - 1110px) / (1440 - 1110)));
      }

      &__info {
        max-width: calc(160px + 37 * ((100vw - 1110px) / (1440 - 1110)));
      }

      &__control {
        width: calc(160px + 37 * ((100vw - 1110px) / (1440 - 1110)));
      }
    }
  }
}

@media (max-width: 1109px) {
  .home-page {
    .releases {
      &__look-more {
        width: calc(160px + 37 * ((100vw - 928px) / (1109 - 928)));
        height: calc(156px + 37 * ((100vw - 928px) / (1109 - 928)));
      }
    }

    .release {
      &__image {
        width: calc(160px + 37 * ((100vw - 928px) / (1109 - 928)));
      }

      &__info {
        max-width: calc(160px + 37 * ((100vw - 928px) / (1109 - 928)));
      }

      &__control {
        width: calc(160px + 37 * ((100vw - 928px) / (1109 - 928)));
      }
    }
  }
}

@media (max-width: 995px) {
  .home-page {
    .releases {
      &__look-more {
        width: calc(160px + 20 * ((100vw - 911px) / (995 - 911)));
        height: calc(156px + 20 * ((100vw - 911px) / (995 - 911)));
      }
    }

    .release {
      &__image {
        width: calc(160px + 20 * ((100vw - 911px) / (995 - 911)));
      }

      &__info {
        max-width: calc(160px + 20 * ((100vw - 911px) / (995 - 911)));
      }

      &__control {
        width: calc(160px + 20 * ((100vw - 911px) / (995 - 911)));
      }
    }
  }
}

@media (max-width: 911px) {
  .home-page {
    .releases {
      &__look-more {
        width: calc(160px + 37 * ((100vw - 724px) / (911 - 724)));
        height: calc(156px + 37 * ((100vw - 724px) / (911 - 724)));
      }
    }

    .release {
      &__image {
        width: calc(160px + 37 * ((100vw - 724px) / (911 - 724)));
      }

      &__info {
        max-width: calc(160px + 37 * ((100vw - 724px) / (911 - 724)));
      }

      &__control {
        width: calc(160px + 37 * ((100vw - 724px) / (911 - 724)));
      }
    }
  }
}

@media (max-width: 723px) {
  .home-page {
    .releases {
      &__look-more {
        width: calc(160px + 37 * ((100vw - 548px) / (723 - 548)));
        height: calc(156px + 37 * ((100vw - 548px) / (723 - 548)));
      }
    }

    .release {
      &__image {
        width: calc(160px + 37 * ((100vw - 548px) / (723 - 548)));
      }

      &__info {
        max-width: calc(160px + 37 * ((100vw - 548px) / (723 - 548)));
      }

      &__control {
        width: calc(160px + 37 * ((100vw - 548px) / (723 - 548)));
      }
    }
  }
}

@media (max-width: 547px) {
  .home-page {
    .releases {
      &__look-more {
        width: calc(133px + 64 * ((100vw - 320px) / (547 - 320)));
        height: calc(129px + 64 * ((100vw - 320px) / (547 - 320)));
      }
    }

    .release {
      &__image {
        width: calc(133px + 64 * ((100vw - 320px) / (547 - 320)));
      }

      &__info {
        max-width: calc(133px + 64 * ((100vw - 320px) / (547 - 320)));
      }

      &__control {
        width: calc(133px + 64 * ((100vw - 320px) / (547 - 320)));
      }
    }
  }
}

@media (max-width: 1440px) {
  .home-page {
    .releases {
      margin-bottom: calc(30px + 30 * ((100vw - 1024px) / (1440 - 1024)));
    }
  }
}

@media (max-width: 1024px) {
  .home-page {
    .releases {
      margin-bottom: 30px;
    }
  }
}