.albums {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px 0;
}

.album {
  position: relative;

  &__image {
    width: 197px;
    height: 197px;
    border-radius: 5px;
    margin-bottom: 4px;

    cursor: pointer;
  }

  &__control {
    position: absolute;

    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 197px;
    height: 197px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    opacity: 0;
    transition: 0.2s ease;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__info {
    padding: 0 4px;
    max-width: 197px;
    white-space: nowrap;
  }

  &__name {
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__authors {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $colorAccent;

    a {
      text-decoration: none;
      color: $colorAccent;

      &:hover {
        color: $colorAccentHover;
      }
    }
  }
}

[data-theme='dark'] {
  .album {
    &__name {
      color: $main-text-black;
    }
  }
}

[data-theme='light'] {
  .album {
    &__name {
      color: $main-text-white;
    }
  }
}