.author {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  //max-width: 183px;
  //max-width: 197px;

  &__image {
    object-fit: cover;
    aspect-ratio: 1/1;
    //width: 183px;
    width: 197px;
    border-radius: 50%;
    margin-bottom: 5px;

    cursor: pointer;
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__control {
    position: absolute;

    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    //width: 183px;
    width: 197px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;

    opacity: 0;
    transition: 0.2s ease;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__play {
    max-width: 47px;
    max-height: 47px;
    background: rgba(218, 218, 218, 0.6);
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 7px;
    transition: 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

[data-theme='dark'] {
  .author {
    &__name {
      color: $main-text-black;
    }
  }
}

[data-theme='light'] {
  .author {
    &__name {
      color: $main-text-white;
    }
  }
}