.playlist {
  position: relative;

  &__image {
    aspect-ratio: 1/1;
    width: 197px;
    border-radius: 5px;
    margin-bottom: 4px;

    cursor: pointer;
  }

  &__name {
    font-size: 15px;
    font-weight: 400;
    padding: 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__control {
    position: absolute;

    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 197px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    opacity: 0;
    transition: 0.2s ease;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

[data-theme='dark'] {
  .playlist {
    &__name {
      color: $subtitle-black;
    }
  }
}

[data-theme='light'] {
  .playlist {
    &__name {
      color: $subtitle-white;
    }
  }
}