.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

  &__song {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__image {
    margin-right: 10px;
    border-radius: 5px;
    aspect-ratio: 1/1;
    width: 55px;
  }

  &__control {
    position: absolute;

    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 55px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    opacity: 0;
    transition: 0.2s ease;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__play {
    transform: scale(0.8);

    &:hover {
      transform: scale(0.88);
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_secondary {
      color: #828282;
    }
  }

  &__authors {
    font-size: 12px;
    font-weight: 600;
    color: $colorAccent;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: $colorAccent;
      text-decoration: none;

      &:hover {
        color: $colorAccentHover;
      }

      &:not(:last-child)::after {
        content: ', ';
      }
    }
  }

  &__time {
    margin-left: 20px;
    font-size: 14px;
  }
}

[data-theme='dark'] {
  .song {
    &__name {
      color: $main-text-black;
    }

    &__time {
      color: $main-text-black;
    }
  }
}

[data-theme='light'] {
  .song {
    &__name {
      color: $main-text-white;
    }

    &__time {
      color: $main-text-white;
    }
  }
}