$colorAccent: rgb(255, 61, 106);
$colorAccentHover: #f66c8d;
$contentWidth: 1440px;

$dropShadow: 0 0 4px rgba($colorAccent, 0.4);

// theme-light
$background-content-white: #fff;
$background-page-white: #e9e9e9;
$main-text-white: #000;
$subtitle-white: #404040;

// theme-dark
$background-content-black: #222;
$background-page-black: #141414;
$main-text-black: #fff;
$subtitle-black: #fff;


